<template id="beranda">
	<div>
		<div class="navbar navbar-light bg-light">
			<div class="navbar-brand">
				<img src="/aset/logo.png" width="32">
			</div>
			<div class="float-right">
				<router-link to='/cari'>
					<img src="/aset/magnifying-glass.png">
				</router-link>
			</div>
		</div>
		<div class="container">
			<br>
			<h4 class="klik" @click='$router.push("/terbanyak")'>Terbanyak dibaca &rarr;</h4>
			<h4 class="klik" @click='$router.push("/terpopuler")'>Terpopuler bulan ini &rarr;</h4>
			<h4 class="klik" @click='$router.push("/terbaru")'>Cerita terbaru &rarr;</h4>
			<h4 class="klik" @click='$router.push("/kategori")'>Kategori cerita &rarr;</h4>
			<h4 class="klik" @click='$router.push("/rekomendasi")'>Rekomendasi cerita &rarr;</h4>
		</div>
	</div>
</template>
<script type="text/javascript">
	beranda = {
		template: '#beranda'
	}
</script>
<style type="text/css">
	.klik {
		cursor: pointer;
	}
</style>